@page "/create-post"
@using ApiContracts
@using ApiContracts.Post
@using BlazorApp.Services
@inject IPostService PostService
<PageTitle>Create Post</PageTitle>

<h1>Create Post</h1>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info">@message</div>
}

<input class="form-control mb-2" placeholder="Title" @bind="title" />
<input class="form-control mb-2" placeholder="Body"  @bind="body" />

<button class="btn btn-primary" @onclick="CreatePostt">Register</button>

@code {
    private string title = "";
    private string body = "";
    private string message = "";
    private int userId = 1;

    private async Task CreatePostt()
    {
        try
        {
            await PostService.AddPostAsync(new CreatePostDto(title, body, userId));
            message = "Post created successfully!";
        }
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
        }
    }

}


