@page "/create-post"
@using System.Security.Claims
@using ApiContracts
@using ApiContracts.Post
@using BlazorApp.Services
@inject IPostService PostService
@attribute [Authorize]
<PageTitle>Create Post</PageTitle>

<h1>Create Post</h1>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info">@message</div>
}

<input class="form-control mb-2" placeholder="Title" @bind="title" />
<input class="form-control mb-2" placeholder="Body"  @bind="body" />

<button class="btn btn-primary" @onclick="CreatePostt">Register</button>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private string title = "";
    private string body = "";
    private string message = "";
    private int userId = 1;

    protected async override Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity == null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            return; // user not logged in
        }

        var idClaim = claimsPrincipal.Claims
            .FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);

        if (idClaim == null)
        {
            message = "User ID not found in claims.";
            return;
        }

        userId = int.Parse(idClaim.Value);
    }
    
    private async Task CreatePostt()
    {
        try
        {
            await PostService.AddPostAsync(new CreatePostDto(title, body, userId));
            message = "Post created successfully!";
        }
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
        }
    }

}


